body{
   background: #1e81b0; 
   font-family: serif;
  
}

#main{

	margin:auto;
    height: 500px;
    width: 350px;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background: white;
    border-radius: 5px;
}
#history{
	height: 20px;
	text-align: right;
	margin: 0 20px;
	padding-top: 20px;
	font-size: 30px;
}
#output{
	text-align: right;
	height: 60px;
	margin: 10px 20px;
	font-size: 30px;
}
#keyboard{
	display: flex;
	justify-content: stretch;
	height: 420px;
	width: 350px;
}

#first-div{
	/*background: red;*/
	height: 360px;
	width: 100px;
	/*opacity: 40%;*/
}

#second-div{
	/*background: blue;*/
	height: 360px;
	width: 100px;
	/*opacity: 10%;*/
}

#third-div{
	/*background: black;*/
	height: 360px;
	width: 100px;
}

#forth-div{
	/*background: green;*/
	height: 360px;
	width: 100px;
}


.number,.operator,.empty{
	width: 50px;
	height: 50px;
	/*margin: 10px;*/
	/*align-items: center;*/
	margin: 10px 20px;
	border-radius: 50px;
	font-size: 23px;
	border-width: 0;
	font-weight: bold;
	background: white;
	
}
.number, .operator{
	cursor: pointer;
}

#first-div.
